body {
  overscroll-behavior: none;
}
.imageetry[data-status="inactive"] {
  display: none;
}
.imageetry[data-status="active"] {
  display: block;
}
.interface.asli.combo-interface {
  display: flex;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.counter-wrapper.combo-counter {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  /* Below zoomed image */
  display: none;
}
.overlay.active {
  display: block;
}
.imageetry.zoomed {
  transition: all 0.5s ease-in-out;
  /* Smooth zoom effect */
}
#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  background-color: transparent;
  /* Background color for the fade effect */
  justify-content: center;
  align-items: center;
  display: none;
  /* Initially hidden */
  z-index: 99999999999999999999999999999999999999999999999999;
}
.lightbox img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}
.track-name {
  pointer-events: none;
}
.track-artist {
  pointer-events: none;
}
.track-info {
  pointer-events: none;
}
#videoclose,
#closebook,
.backlink,
#openbook,
#backk {
  opacity: 0.75;
  transition: opacity 0.15s ease-in-out;
}
#videoclose:hover,
#closebook:hover,
.backlink:hover,
#openbook:hover,
#backk:hover {
  opacity: 1;
}
